.card > img{
    width: 200px;
    height:250px;
    object-fit: cover;
    border-radius: 15px;
    margin: 5px;
    
}

/* styling the grid */

.card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px ;
    padding-left: 50px;
    padding-right: 50px;
}