.card > img{
    width: 220px;
    height:250px;
    border-radius: 20px;
    
    
}

/* styling the grid */

.card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px ;
   

     /* margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    padding-left: 30px;
    padding-right: 5px; */
}